{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ block.super }}SHOP{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="about" %}
{% endblock %}
<style type="text/css">
    .bs-example{
    	margin: 20px;
    }
</style>

{% block container %}
<div class="container profile-head">
  <div class="row">
      <div class="col-sm-12">
        <p>
            <h2>
             {% if member %}
              {{member.member_name}} &nbsp;&nbsp;&nbsp;&nbsp;
              時給:{{member.hour_price}}&nbsp;&nbsp;&nbsp;&nbsp;
              トータル勤務時間:{{f_total_hour}}時間&nbsp;{{f_total_minute}}分
              &nbsp;&nbsp;&nbsp;{{month}}&nbsp;
             {% endif %}
            </h2>
            <form action="{% url 'felica:felica_work_time' %}">
            <input type="month" name="bdaymonth" /> <input type="submit" class="btn btn-info">
            <select id="org" name="select_member_felica_id" onChange="redirectUrl()">
              <option  value="" selected="selected">---社員選択---</option>
              {% for w in member_list %}
               <option value="{{w.felica_id}}" >{{w.member_name|capfirst}}</option>
              {% endfor %}
            </select>
            </form>
        </p>



      </div>
    </div>
  </div>
</div>
<div class="container profile-body">

  <div class="row">
    <div class="bs-example">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>会社名</th>
                    <th>名前</th>
                    <th>felica_id</th>
                    <th>出勤</th>
                    <th>退勤</th>
                    <th>トータル勤務時間</th>
                    <th>支給金額</th>
                </tr>
            </thead>
          <tbody>
                {% for m in work_time %}
                <tr>
                    <td><a href="{% url 'felica:felica_time_edit' m.id %}" role="button">{{m.company_name}}</a></td>
                    <td>{{m.member_name}}</td>

                    <td>{{m.felica_id}}</td>
                    <td>{{m.work_start|date:'Y-m-d H:i'}}</td>
                    <td>{{m.work_end|date:'Y-m-d H:i'}}</td>
                    <td>
                        {% if m.work_time_hour %} {{m.work_time_hour}}時間 {% endif %}
                        {% if m.work_time_minute %} {{m.work_time_minute}}分{% endif %}
                    </td>
                    <td>{{member.hour_price}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if work_time.has_other_pages %}
          <ul class="pagination">
            {% if work_time.has_previous %}
              <li><a href="?page={{ work_time.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in work_time.paginator.page_range %}
              {% if work_time.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if work_time.has_next %}
              <li><a href="?page={{ work_time.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
        {% endif %}
    </div>
  </div>
</div>


{% endblock %}


