{% extends "base.html" %}

{% block container %}
	<br />
	<br />
	<br />
  <img src="{{profile_picture}}">
  
  <p>오픈 완료</p>
  <img src="{{ instagram.images.thumbnail.url }}" width="{{ instagram.images.thumbnail.width }}" height="{{ instagram.images.thumbnail.height }}">
  <p>There're no images to display.</p>
  
  
  {% for instagram in media %}
  <img src="{{ instagram.images.thumbnail.url }}" width="{{ instagram.images.thumbnail.width }}" height="{{ instagram.images.thumbnail.height }}">
  {% empty %}
  <p>There're no images to display.</p>
  {% endfor %}
  
  
{% endblock container %}