<!--<li {% if active_link == "home" %}class="active"{% endif %}><a href="{% url 'home' %}">Home</a></li>-->
<!--<li {% if active_link == "about" %}class="active"{% endif %}><a href="{% url 'about' %}">About</a></li>-->
<li {% if active_link == "shop_list" %}class="active"{% endif %}><a href="{% url 'shop_list' %}">네이샵 리스트</a></li>
{% if user.name %}
	<li><a href="{% url 'shop:show_self' %}">MY샵</a></li>
	{% if shop %}
		<li><a href="{% url 'shop:edit_self' %}">샵 편집</a></li>
	{% else %}
		<li><a href="{{url_test}}">샵 오픈</a></li>
	{% endif %}


{% else %}
	<li><a href="{% url 'accounts:login' %}">MY샵</a></li>
	<li><a href="{% url 'accounts:login' %}">샵 오픈</a></li>
{% endif %}


