{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}About{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="about" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}


<!-- Benefits of the Django application -->
{% block container %}

<div id="sec1" class="text-page_home">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>{% include "_brandname.html" %}</h1>
        <p class="lead">나만의 인스타그램 숍을 무료로 오픈하세요!</p>
      </div>
    </div>
  </div>
</div>


<div id="sec3">
  <div class="container">

    <div class="row">
      <div id="map-outer" class="col-md-12">
        <div id="address" class="col-md-2">
          <h3 class="text-center">추천 My샵</h3>
              <div class="text-center">
                <img class="img-circle centered" width="50" src="http://lorempixel.com/128/128/people/9/" alt="profile pic">
              </div>
              <p class="heavy text-center">홍대 네일샵</p>
              <div class="text-center">
                <img class="img-circle centered" width="50" src="http://lorempixel.com/128/128/people/2/" alt="profile pic">
              </div>
              <p class="heavy text-center">신촌 네일샵</p>
              <div class="text-center">
                <img class="img-circle centered" width="50" src="http://lorempixel.com/128/128/people/1/" alt="profile pic">
              </div>
              <p class="heavy text-center">하라주쿠 네일샵</p>
        </div>
        <div  class="col-md-8">
          <div class="panel-body">

            <ul class="unstyled wall">
                {% for product in media %}
                <li class="brick item">
                    <div class="thumbnail">
                        <a href="{{ product.standard_resolution_url }}">
                            <img src="{{ product.standard_resolution_url }}" alt="">
                        </a>
                        <div>
                            <h3>
                                <a href="{{ product.standard_resolution_url }}">
                                    name</a>
                            </h3>
                            <div class="description muted">
                                {{ product.caption|capfirst|striptags }}
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
          </div>
            <h1>{% include "_pagination.html" %}</h1>

        </div>
      </div>

    </div>
  </div>
</div>
{% endblock container %}






{% block scripts %}


<script>
var $container = $(".wall");

$(function () {
    $container.imagesLoaded(function () {
        $container.masonry({
            itemSelector : '.brick',
            gutterWidth: 25,
            columnWidth: function () {
                var screenWidth = parseInt(
                    document.documentElement.getBoundingClientRect().width,
                    10
                ) || parseInt(screen.width, 10);

                if (screenWidth < 768) {
                    return $container.width();
                } else if (screenWidth > 768 && screenWidth < 980) {
                    return ($container.width() / 2) - 20;
                }
                return ($container.width() / 3) - 20;
            }
        });
    });

    $container.infinitescroll(
        {
            navSelector: ".pagination",
            nextSelector: ".next",
            itemSelector: ".wall .brick",
            loading: {
                finishedMsg: "",
                img: "http://pathtoyour.com/loading.gif",
                msg: null,
                msgText: ""
            }
        },
        function (newProducts) {
            var $newProds = $(newProducts).css({"opacity": 0});
            $newProds.imagesLoaded(function () {
                $newProds.animate({"opacity": 1});
                $container.masonry("appended", $newProds, true);
            });
        }
    );
});

</script>

<script src="{% static 'site/js/site.js' %}"></script>
<script src="{% static 'site/js/imagesloaded.js' %}"></script>
<script src="{% static 'site/js/masonry.pkgd.min.js' %}"></script>
{% endblock scripts %}

