{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}About{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="about" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}


<!-- Benefits of the Django application -->
{% block container %}

<div id="sec1" class="text-page_home">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>{% include "_brandname.html" %}</h1>
        <p class="lead">나만의 인스타그램 숍을 무료로 오픈하세요!</p>
      </div>
    </div>
  </div>
</div>


<div id="sec3">
      <div id="container">
          <div class="row">
              <div  class="col-md-8">
                  <div class="panel-body">
                    {% for m in media %}
                        <div class="item">
                            <a href="{{ m.standard_resolution_url }}">
                            <img class="lazy" src="{{ m.standard_resolution_url }}" data-original="{{ m.standard_resolution_url }}" width="140" height="183" alt="">
                            </a>
                            <div class="description muted">
                                <p>{{ m.caption|capfirst|striptags }}</p>
                            </div>
                        </div>
                    {% endfor %}
                  </div>
                </div>
            </div>
      </div>
</div>
{% endblock container %}

{% block scripts %}
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
<script>
jQuery(function($){

  //この部分が lazyload のイニシャライズ
  $("img.lazy").lazyload({
    effect: 'fadeIn',
    effectspeed: 1000,
    threshold: 400
  });

  //以下は同じ
  var flag;
  var min_width = 480;

  //画面幅による分岐と imagesLoaded, Masonry のイニシャライズを関数化
  function masonry_update() {
    var $container = $('#container');
    if ( $('html').width() < min_width ) {
      $container.masonry('destroy');
      flag = 0;
    } else {
      $container.imagesLoaded(function(){
        $container.masonry({
          itemSelector: '.item',　
          isFitWidth: true,　
          columnWidth: 180
        });
      });
    }
  }

  masonry_update();

  //リサイズ時の処理
  var timer = false;
  $(window).resize(function(){
    if (timer !== false) {
      clearTimeout(timer);
    }
    timer = setTimeout(function() {
      masonry_update();
    }, 200);
  });

});
</script>

<script src="{% static 'site/js/site.js' %}"></script>
<!--<script src="{% static 'site/js/imagesloaded.js' %}"></script>-->
<script src="{% static 'site/js/masonry.pkgd.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.0.0/imagesloaded.pkgd.min.js"></script>
{% endblock scripts %}

