{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}




<!-- Benefits of the Django application -->
{% block container %}
<div id="sec1" class="text-page_home">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <!--<h1>{% include "_brandname.html" %}</h1>-->
        <p class="lead">k-stagram</p>
      </div>
    </div>
  </div>
</div>
<div id="sec3">
  <div id="container">
    <div id="works_list">
      {% for m in media %}
        <div class="work_item">
          <a href="{{ m.media_link }}" target="_blank">
            <img class="lazy" src="{{ m.standard_resolution_url }}" data-original="{{ m.standard_resolution_url }}" width="140" height="183" alt="ニューヨークのグラフティ">
          </a>
          <!--<p>-->
            <!--いいね数：<span style="color:red">{{ m.like_count}}</span><br />-->
            <!--コメント数：<span style="color:red">{{ m.comment_count}}</span><br />-->
            <!--{{ m.caption|capfirst|striptags }}-->
          <!--</p>-->
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% include "_pagination.html" %}
{% endblock container %}

{% block scripts %}
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.1/jquery.magnific-popup.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-infinitescroll/2.1.0/jquery.infinitescroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
<script>
jQuery(function($){

    $("img.lazy").lazyload({
        effect: 'fadeIn',
        effectspeed: 1000,
        threshold: 200
    });

    $('img.lazy').load(function() {
        masonry_update();
    });

    function masonry_update() {
        ww = $(window).width();
        var cw = 180;
        if(ww < 460) { cw = 160; }
        var works_list = $('#works_list');
        works_list.imagesLoaded(function(){
            works_list.masonry({
                itemSelector: '.work_item',　
                isFitWidth: true,　
                columnWidth: cw
            });
        });
     }

    var timer = false;
    $(window).resize(function(){
        ww = $(window).width();
        if (timer !== false) {
            clearTimeout(timer);
        }
        timer = setTimeout(function() {
            masonry_update();
        }, 200);
    });


   /*
   //lmagnificPopup のイニシャライズ
    $('#container').magnificPopup({
          delegate: 'a',
          type: 'image',
          disableOn: function() {
              if( $(window).width() < 480 ) {
                  return false;
              }
              return true;
          },
          gallery: { //ギャラリーオプション
              enabled:true
          },
          image: {
              // image コンテントタイプのオプション
              cursor: null,
              titleSrc: function(item) {
                  return item.el.find('img').attr('alt');
              }
          }
    });
    */



});

var $container = $("#works_list");
$(function () {
    $container.infinitescroll(
        {
            navSelector: "#next",
            nextSelector: "#next a",
            itemSelector: ".work_item",
            loading: {
                finishedMsg: "",
                img: "http://matemedia.com/wp-content/uploads/2014/02/loading-scroll-transparent.png",
                msg: null,
                msgText: ""
            }
        },
        function (newProducts) {
            var $newProds = $(newProducts).css({"opacity": 0});
            $newProds.imagesLoaded(function () {
                $newProds.animate({"opacity": 1});
                $container.masonry("appended", $newProds, true);
            });
        }
    );
});


</script>

<script src="{% static 'site/js/site.js' %}"></script>
<!--<script src="{% static 'site/js/imagesloaded.js' %}"></script>-->
<script src="{% static 'site/js/masonry.pkgd.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.0.0/imagesloaded.pkgd.min.js"></script>
{% endblock scripts %}

